<tr id="add-list" data-no="<%=no%>">
	<td><%=index%></td>
	<td><%=name%></td>
	<td><%=count%></td>
	<td><%=description%></td>
	<td><a href="/jblog03/category/admin/del?categoriNo=<%=no%>">
	<img src="/jblog03/assets/images/delete.jpg"></a></td>
</tr>